li {
  display: inline;
  padding-left:  20px;
  padding-right:  20px;
}

body {
  background-color: whitesmoke;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Experience"
    "Education";
}

.Experience { 
  grid-area: Experience;

}

.Experience li {
  display:  list-item;
  margin-left: 30px;
  list-style-type:  square;
}

.Education {
  grid-area:  Education;
}

.Education li {
  display:  list-item;
  margin-left: 30px;
  list-style-type:  square;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}